@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light_green: #B0FF83;
    --dark_green: #5D8447;
}

body {
    background-image: url(/assets/images/background_img.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.form_container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    /*We translate to -50 RELATIVE to the element, so moves to the X by -50% of its width , this is important because
    When we use top and left we are effectively centering only one corner of our element and not the whole thing by itself
    Doing this allows us to center it effectively by subtracting its original size and centering it*/
    transform: translate(-50%, -50%);   
    width: 740px;
    height: 462px;
    background-color: var(--dark_green);
    border-radius: 45px;
}

.profile_icon_container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -150%);  
    transform: translate(-50%, -150%);   
    width: 220px;
    height: 220px;
    background-color: var(--light_green);
    border-radius: 200px;
}

.profile_icon_container img {
    padding-left: 3.3em;
    padding-top: 1.2em;
}

.form_container .input_text_1 {
    font-family: "Gothic A1", "sans-serif";
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 10px;
    padding-left: 3.8em;
    color:black;
    background-color: var(--light_green);
    border-radius: 10px;
    width: 600px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -140%);  
    transform: translate(-50%, -140%);  
    background-image: url(/assets/images/label_profile_icon.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: 5% 50%;
}

.form_container .input_text_2 {
    background-image: url(/assets/images/label_password_icon.png);
    -ms-transform: translate(-50%, 10%);  
    transform: translate(-50%, 10%);  
}

#checkbox {
    display: none;
}

.form_container .custom_checkbox {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

/*We use + here because it selects the next element of type label after the class custom checkbox, we want this to happen
only for this specific label*/
.form_container .custom_checkbox + label {
    position: absolute;
    cursor: pointer;
    text-decoration: underline;
    font-family: "Gothic A1", "sans-serif";
    font-weight: 400;
    letter-spacing: 3px;
    color: var(--light_green);
    top: 70%;
    left: 10%;
}

.form_container .custom_checkbox + label::before {
    content: '';
    margin-right: 0.4em;
    cursor: pointer;
    display: inline-block;
    width: 15px;    
    height: 15px;
    background-color: var(--dark_green);
    border: 2px solid var(--light_green);
    border-radius: 5px;
}

.form_container .custom_checkbox:checked + label::before {
    background-color: var(--light_green);
}

.form_container .forgot_pass {
    position: absolute;
    font-family: "Gothic A1", "sans-serif";
    font-weight: bold;
    letter-spacing: 5px;
    text-decoration: underline;
    color: var(--light_green);
    top: 70%;
    left: 62%;
    cursor: pointer;
}

input[type="submit"] {
    width: 280px;
    height: 56px;
    position: absolute;
    top: 110%;
    left: 50%;
    -ms-transform: translate(-50%, -140%);  
    transform: translate(-50%, -140%); 
    background-color: var(--light_green);
    border-radius: 50px;
    cursor: pointer;
    border: none;
    font-size: 2em;
    font-family: "Gothic A1", "sans-serif";
    letter-spacing: 5px;
    font-weight: bold;
}